body {
  font: 14px bold "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

#game {
  border: 1px solid black;
}

#score {
  padding-left: 580px;
  margin: 10px;
}

#text {
  position: absolute;
  text-align: justify;
  top: 676px;
  width: 612px;
}

#header {
  width: 1606px;
  background-color: #000;
  font-size: 30px;
  color: #FFF;
  padding: 4px;
}

