#score

.graph
  <canvas id="attention" width="600" height="300" style="position:absolute;left:0;top:30;"></canvas>
.graph
  <canvas id="meditation" width="600" height="300" style="position:absolute;left:0;top:316px;"></canvas>

<canvas id="game" width="600" height="600" style="position:absolute;left:0;right:0;"></canvas>
