
<canvas id="game" width="600" height="800"></canvas>


<br>

table
  tr
    td Attention
    td
      <canvas id="attention" width="400" height="100"></canvas><br><br>
  tr
    td Meditation
    td
      <canvas id="meditation" width="400" height="100"></canvas><br><br>
  tr
    td Low Alpha
    td
      <canvas id="low-alpha" width="400" height="100"></canvas><br><br>
  tr
    td High Alpha
    td
      <canvas id="high-alpha" width="400" height="100"></canvas><br><br>

