
<canvas id="game" width="600" height="600"></canvas>

.graph
  h3 Attention
  <canvas id="attention" width="400" height="100"></canvas>
.graph
  h3 Meditation
  <canvas id="meditation" width="400" height="100"></canvas>
.graph
  h3 Low Alpha
  <canvas id="low-alpha" width="400" height="100"></canvas>
.graph
  h3 High Alpha
  <canvas id="high-alpha" width="400" height="100"></canvas>

