
<canvas id="game" width="600" height="600"></canvas>

<br>

table
  tr
    td Attention
    td Meditation
    td Low Alpha
    td High Alpha
  tr
    td
      <canvas id="attention" width="400" height="100"></canvas><br><br>
    td
      <canvas id="meditation" width="400" height="100"></canvas><br><br>
    td
      <canvas id="low-alpha" width="400" height="100"></canvas><br><br>
    td
      <canvas id="high-alpha" width="400" height="100"></canvas><br><br>

